body{
    background-color: rgb(57, 57, 109);
}
.fb{
    background-color: rgb(49, 65, 108);
    width: 100px;
    height:25px;
    float:left;
    margin: 10px;
    color: aliceblue;
    border-radius: ;
    margin-left: 95px;
}

.tw{
    background-color: rgb(51, 97, 225);
    width: 100px;
    height:25px;
    float:left;
    margin: 10px;
    color: aliceblue;
    border-radius: ;
    
}
.g{
    background-color: rgb(235, 66, 66);
    width: 100px;
    height:25px;
    float:left;
    margin: 10px;
    color: aliceblue;
    border-radius:;
    
}
.box{
    background-color: rgb(224, 224, 239);
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    height: 500px;
    width: 500px;
}