/* div{
    padding: 30px;
    background-color:violet;
    border: 3px solid green;
    border-collapse: collapse;
} */
body{
    background-color: rgb(79, 187, 46);
    text-align: justify;
}


table,tr,th,td{
    /* border: 1px solid white;  */
    border-collapse:collapse;
    padding: 20px;
    margin: auto;
    border-bottom : 2px solid red;
    margin-left: 250px;
     background-color: aliceblue;
    /* height: 400px;
    width: 200px; */
    margin-left: 300px;
    
}

th{
    background-color: yellow;
}
.t1{
    
}


