.color{
    background-color: aqua;
    color: rgb(43, 126, 125);
    height: 150px;
    font-size: x-large;
    font-weight: 900;
    text-align: justify;
    margin-left: 20px;
}
.color-1{
    background-color: rgb(47, 21, 103);
    height: 80px;
    width: 90vw;
    font-style: italic;
    font-size:x-large;
    color: rgb(250, 250, 250);
    font-weight: bold;
    text-align: center;
    font-weight: 900;
}
p{
    padding: 30px;
}
.paragraph{
    margin-top: 10rem;
}
h1{
    color: rgb(26, 75, 225);
}
h3{
    color: rgb(19, 128, 197);
}